<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="['/']">NGRX</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/customers']">Customers</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
    </ul>
  </div>
</nav>
