<h3>Customers</h3>
<table class="table table-light rounded">
  <thead>
    <tr class="table-dark rounded-top">
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Personal Phone</th>
      <th scope="col">Mobile Phone</th>
      <th scope="col">Country</th>
      <th scope="col">City</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr>
    <tr *ngFor="let customer of (customers$ |async)">
      <th scope="row">{{customer.name}}</th>
      <th>{{customer.surname}}</th>
      <td>{{customer.personalPhoneNumber}}</td>
      <td>{{customer.mobileNumber}}</td>
      <td>{{customer.country}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.gender}}</td>
      <th>
        <a (click)=editCustomer(customer)>edit</a>
        <br>
        <a (click)=deleteCustomer(customer)>delete</a>
      </th>
    </tr>
  </tbody>
</table>
