<h3>Add Customer</h3>
<div class="form-inline mb-4">
  <form [formGroup]="customerForm" (submit)="createCustomer()" class="form-inline mb-4">

    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input id="Name" type="text" class="form-control" formControlName="name" placeholder="Name">
    </div>

    <label class="sr-only" for="Surname">Surname</label>
    <div class="input-group mb-2 mr-sm-2">
      <input id="Surname" type="text" class="form-control" formControlName="surname" placeholder="Surname">
    </div>

    <label class="sr-only" for="gender">Gender</label>
    <div id="gender" class="input-group mb-2 mr-sm-2">
      <select formControlName="gender" class="form-control">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>

    <label class="sr-only" for="personalPhoneNumber">Personal Number</label>
    <div class="input-group mb-2 mr-sm-2">
      <input id="personalPhoneNumber" type="text" class="form-control" formControlName="personalPhoneNumber" placeholder="Personal Number">
    </div>

    <label class="sr-only" for="mobileNumber">Mobile Number</label>
    <div class="input-group mb-2 mr-sm-2">
      <input id="mobileNumber" type="text" class="form-control" formControlName="mobileNumber" placeholder="Mobile Number">
    </div>

    <label class="sr-only" for="country">Country</label>
    <div id="country" class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="country" placeholder="Country">
    </div>

    <label class="sr-only" for="city">City</label>
    <div id="city" class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="city" placeholder="City">
    </div>

    <label class="sr-only" for="Address">Address</label>
    <div id="Address" class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="address" placeholder="Address">
    </div>

    <button [disabled]="this.customerForm.invalid" type="submit" class="btn btn-success mb-2">Add Customer</button>
  </form>
</div>
